.loader {
  display: inline-flex;
  line-height: 0;
  transform-origin: center;
  animation: loader-spin 1s linear infinite;
}

.loader svg {
  display: block;
}

@keyframes loader-spin {
  to {
    transform: rotate(360deg);
  }
}
