.input {
    padding: 12px;
    color: #738697;
    background-color: #1F2327;
    outline: none;
    transition: border-color 100ms ease-out;
    width: 100%;
    border: none;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 14px;
    border-radius: 5px;
    height: 40px;

    &::placeholder {
        color: #606C78;
        opacity: 0.7;
    }
}
