.typography {
  font-family: 'Montserrat', serif;
  font-weight: 400;
  color: #738697;
}

.typography_mode-primary {
  color: #738697;
}

.typography_mode-secondary {
  color: #ffffff;
}

.typography_weight-regular {
  font-weight: 400;
}

.typography_weight-medium {
  font-weight: 500;
}

.typography_weight-bold {
  font-weight: 700;
}

.typography_size-medium {
  font-size: 14px;
}

.typography_size-small {
  font-size: 10px;
}

.typography_single-line {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}