@import 'src/styles/blink';

@padding: 10px;

.timeline-wrapper {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    min-width: 680px;
    width: calc(100% - 60px);
}

.timeline {
    position: relative;
    background-color: #2E343A;
    padding: 8px 10px;
    border-radius: 20px;
    min-height: 175px;
    display: flex;

    --shadow-right: 0;

    &::after {
        content: '';
        position: absolute;
        top: @padding;
        bottom: 0;
        width: 15px;
        pointer-events: none;
        transition: opacity 0.3s;
        height: calc(100% - @padding * 2);
        z-index: 1;
        right: @padding;
        background: linear-gradient(to left, #2E343A, transparent);
        opacity: var(--shadow-right);
    }

    .blink(#2E343A; #2e343aa9; #2E343A);
}

.timeline-scrollable {
    padding: 8px 0px;
    padding-left: 10px;
    position: relative;
    overflow-x: auto;
}

.toolbar {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.toolbar-ruler-icon {
    height: 30px;
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
}

.toolbar-waveform-icon {
    height: 50px;
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
}

.toolbar-overlay-icon {
    height: 50px;
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
}

.toolbar-slide-show-icon {
    padding-top: 13px;
}