.timeline-wrapper {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    min-width: 680px;
    width: calc(100% - 60px);
}

.timeline {
    background-color: #2E343A;
    padding: 10px;
    border-radius: 20px;
}

.timeline-scrollable {
    overflow: auto;
    padding: 10px;
    position: relative;
}