.waveform {
    display: flex;
    position: relative;
    user-select: none;
}

.waveform-selection-layer {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    cursor: crosshair;
    pointer-events: auto;
    z-index: 1;
}

.waveform-phrase {
    position: relative;
    padding-right: 14px;
}

.waveform-phrase-bottom-actions {
    position: absolute;
    bottom: 0px;
    bottom: -13px;
    display: flex;
    gap: 6px;
}

.waveform-phrase-right-actions {
    position: absolute;
    right: -12px;
    top: -5px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.waveform-phrase-right-action {
    transition: transform 0.2s ease;
    cursor: pointer;
    line-height: 0.5;

    &:active {
        transform: scale(0.9);
    }
}