.waveform {
    display: flex;
    position: relative;
    user-select: none;
}

.waveform-selection-layer {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    cursor: crosshair;
    pointer-events: auto;
    z-index: 1;
}

.waveform-phrase {
    position: relative;
}

.waveform-phrase-bottom-actions {
    display: flex;
    gap: 6px;
    margin-top: 4px;
    margin-bottom: -4px;
    align-items: center;
}

.waveform-phrase-right-actions {
    display: flex;
    margin-left: auto;
    gap: 3px;
}

.waveform-phrase-right-action {
    transition: transform 0.2s ease;
    cursor: pointer;
    line-height: 0.5;

    &:active {
        transform: scale(0.9);
    }
}