@import 'src/styles/blink';

.player-wrapper {
  max-width: 640px;
  min-height: 346px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: #2e343a;
}

.player {
  position: relative;

  &>div {
    display: flex;
  }

  .blink(#2E343A; #2e343aa9; #2E343A);
}

.player-actions-wrapper {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.player-actions {
  width: 100%;
  padding: 0px 15px;
  user-select: none;
}

.player-actions-content {
  display: flex;
  margin-bottom: 7px;
  align-items: center;
}

.player-play {
  display: inline-flex;

  &:hover {
    cursor: pointer;
  }
}

.player-duration-progress-bar {
  margin-bottom: 8px;
}

.player-volume {
  display: inline-flex;
  align-items: center;
  margin-left: 5px;
}

.player-volume-icon {
  display: inline-flex;
}

.player-volume-progress-bar {
  width: 60px;
}

.player-right-actions {
  margin-left: auto;
  display: flex;
  cursor: pointer;
}